@import "tailwindcss";



/* | Função                                  | Cor principal                                          |
| --------------------------------------- | ------------------------------------------------------ |
| Fundo do site                           | 🟣 `#2b1730`                                           |
| Destaque (título, elementos principais) | 🟢 `#09e06f`                                           |
| Botão principal                         | 🌸 `#f6b3e0`                                           |
| Texto do botão                          | 🟣 `#3b003b`                                           |
| Fundo do input                          | 🪴 `#e6f3ea`                                           |
| Texto do input                          | ⚫ `#111`                                               |
| Borda suave / sombra                    | ⚪ `rgba(255,255,255,0.08)` e tons de `rgba(0,0,0,...)` |
 */


@layer utilities {
  .no-scrollbar {
    scrollbar-width: none;
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}

.cat_image {
  height: calc(var(--spacing) * 18);
  font-size: 1rem;            
  color: black;
  font-weight:bolder;
  background-repeat: no-repeat;
  background-size:cover;  
  background-position: center;
  border-radius: 1rem;    
  padding: 1.5rem 2rem;
  box-shadow: 0 4px 6px var(--light-box);
}

:root{
  --bg: #2b1730;
  --accent: #09e06f;
  --pink: #f6b3e0;
  --bar: #ffd65a;
  --light-box: rgba(255,255,255,0.08);

}

html,body,#root{
  background-color: var(--bg);
  height:100%;
  width: 100%;
  margin:0;
  padding: 0;
  font-family: "Righteous", sans-serif;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
}

.title{
  font-size:6rem;
  color:var(--accent);
  margin:6px 0;
  letter-spacing:4px;
  font-weight:800;
}

@media (min-width:720px){
  .title{ font-size:10rem; }
}

.button-submit {
  align-self: flex-end;               
  background-color: var(--pink);         
  color: #3b003b;                     
  padding: 0.5rem 3.75rem;            
  margin: 2.5rem;                     
  border-radius: 1.5rem;              
  box-shadow: 0 4px 6px var(--light-box);
  transition: background-color 0.3s ease;
}

.button-submit:hover {
  background-color: rgb(233, 122, 255); 
}


/* animação abaixo: tentativa 1 */
/* flex flex-col justify-center items-center w-screen */
@keyframes spin {
  from { transform: translateX(0); }
  to { transform: translateX(100%); }
}

@layer utilities {
  .time_bar {
    @apply flex flex-col items-center w-full;
    border: 10px solid tomato;
    animation: spin 5s linear infinite reverse;
  }
}